<section class="awards">
    <div class="container">
        <p class="sub-heading">#Awards</p>
        <h2 class="section-heading awards-heading">Our Honors & Awards</h2>
        <div
            class="row row-cols-4 row-cols-xl-3 g-xl-4 row-cols-lg-2 g-lg-3 row-cols-sm-1"
        >
            <div class="col">
                <div class="thumb-wrapper">
                    <img
                        src="/assets/images/img-award-1.png"
                        alt="Award Logo"
                        class="thumb thumb-1"
                    />
                </div>
            </div>
            <div class="col">
                <div class="thumb-wrapper">
                    <img
                        src="/assets/images/img-award-2.png"
                        alt="Award Logo"
                        class="thumb thumb-2"
                    />
                </div>
            </div>
            <div class="col">
                <div class="thumb-wrapper">
                    <img
                        src="/assets/images/img-award-3.png"
                        alt="Award Logo"
                        class="thumb thumb-3"
                    />
                </div>
            </div>
            <div class="col">
                <div class="thumb-wrapper">
                    <img
                        src="/assets/images/img-award-4.png"
                        alt="Award Logo"
                        class="thumb thumb-4"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
