<section class="cta">
    <div class="container">
        <div class="row">
            <div
                class="col-6 offset-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0"
            >
                <div class="inner">
                    <p class="sub-heading">#CTA</p>
                    <h2 class="section-heading cta-heading">
                        Dealing With a Issue?
                    </h2>
                    <p class="desc">
                        Where every injury is personal. We are a different kind
                        of law firm. Let our small, passionate group of trial
                        lawyers fight for your rights!
                    </p>
                    <a href="#!" class="primary-btn cta-btn"
                        >Get a Consultations</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
