<footer class="footer">
    <div class="container">
        <div class="top">
            <div class="row">
                <div class="col-2 col-xl-4 col-md-6 col-sm-12">
                    <h3 class="heading">Justice</h3>
                    <ul class="list">
                        <li class="item">
                            <a href="#!" class="link">Privacy Policy</a>
                        </li>
                        <li class="item">
                            <a href="#!" class="link">Terms & Conditions</a>
                        </li>
                        <li class="item">
                            <a href="#!" class="link">Cookie Preferences</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2 col-xl-4 col-md-6 col-sm-12">
                    <h3 class="heading">Pages</h3>
                    <ul class="list">
                        <li class="item">
                            <a href="./index.html" class="link">Home</a>
                        </li>
                        <li class="item">
                            <a href="./about.html" class="link">About</a>
                        </li>
                        <li class="item">
                            <a href="#!" class="link">Areas</a>
                        </li>
                        <li class="item">
                            <a href="#!" class="link">Attorneys</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-xl-4 col-md-6 col-sm-12">
                    <h3 class="heading">Justice</h3>
                    <p class="contact">
                        50 Harrison Street, PH Suite 445 Hoboken, NJ 07030<br />
                        <a href="tel:(000) 123-4567">(000) 123-4567</a><br />
                        <a href="mailto:yourlawfirm22@gmail.com"
                            >yourlawfirm22@gmail.com</a
                        >
                    </p>
                </div>
                <div class="col-5 col-xl-12">
                    <div class="map-container">
                        <iframe
                            class="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.1166517121997!2d-74.04575992389724!3d40.737458636056516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25744c5e11207%3A0x79a4f764a7d20acd!2sMission%2050%3A%20Coworking%2C%20Office%20Space%20%26%20Suites!5e0!3m2!1sja!2sjp!4v1747316309124!5m2!1sja!2sjp"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <a href="#" class="logo-wrapper footer-logo">
                    <img
                        src="/assets/images/img-ft-logo.svg"
                        alt="Justice Logo"
                        class="logo"
                    />
                    <div class="brand-identity">
                        <p class="name">Justice</p>
                        <p class="tagline">Law Firm</p>
                    </div>
                </a>
                <p class="copyright">
                    Copyright © 2022 UI HUT All Rights Reserved
                </p>
            </div>
            <div class="right">
                <a href="#!"
                    ><img
                        src="/assets/images/icon-facebook.svg"
                        alt="Facebook Icon"
                        class="social-icon" /></a
                ><a href="#!"
                    ><img
                        src="/assets/images/icon-linkedin.svg"
                        alt="Linkedin Icon"
                        class="social-icon" /></a
                ><a href="#!"
                    ><img
                        src="/assets/images/icon-twitter.svg"
                        alt="Twitter Icon"
                        class="social-icon" /></a
                ><a href="#!"
                    ><img
                        src="/assets/images/ico-instagram.svg"
                        alt="Instagram Icon"
                        class="social-icon"
                /></a>
            </div>
        </div>
    </div>
</footer>
