<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <!-- Logo -->
        <div class="logo-wrapper">
          <img src="../images/img-logo.svg" alt="Justice Logo" class="logo" />
          <div class="brand-identity">
            <p class="brand-name">Justice</p>
            <p class="tagline">Law Firm</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- Navbar -->
        <nav class="navbar">
          <ul class="nav-list">
            <li class="nav-item"><a href="#!" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#!" class="nav-link">About</a></li>
            <li class="nav-item">
              <a href="#!" class="nav-link">Practice Areas</a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link">Attorneys</a>
            </li>
            <li class="nav-item"><a href="#!" class="nav-link">Page</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-3">
        <div class="call">
          Call:<a href="tel:000123456789" class="phone-link"
            >(000) 123 456 789</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
