<section class="services">
    <div class="container">
        <p class="sub-heading services-sub-heading">#Services</p>
        <h2 class="section-heading services-heading">Our Practice Areas</h2>
        <p class="desc services-desc">
            Our Law Office provides a professional experience for all our
            clients, helping them navigate their legal rights.
        </p>

        <div class="row row-cols-3 g-3 row-cols-lg-2 row-cols-sm-1">
            <!-- Service 1 -->
            <div class="col">
                <article class="service-item">
                    <a href="#!" class="thumb-wrapper">
                        <img
                            src="/assets/images/img-servicers-1.svg"
                            alt="Services Image"
                            class="thumb"
                        />
                    </a>
                    <h3 class="title">
                        <a class="link" href="#!">Personal Injury Law</a>
                    </h3>
                </article>
            </div>
            <!-- Service 2 -->
            <div class="col">
                <article class="service-item">
                    <a href="#!" class="thumb-wrapper">
                        <img
                            src="/assets/images/img-servicers-2.svg"
                            alt="Services Image"
                            class="thumb"
                        />
                    </a>
                    <h3 class="title">
                        <a class="link" href="#!">Employment Law</a>
                    </h3>
                </article>
            </div>
            <!-- Service 3 -->
            <div class="col">
                <article class="service-item">
                    <a href="#!" class="thumb-wrapper">
                        <img
                            src="/assets/images/img-servicers-3.svg"
                            alt="Services Image"
                            class="thumb"
                        />
                    </a>
                    <h3 class="title">
                        <a class="link" href="#!">Immigration Law</a>
                    </h3>
                </article>
            </div>
            <!-- Service 4 -->
            <div class="col">
                <article class="service-item">
                    <a href="#!" class="thumb-wrapper">
                        <img
                            src="/assets/images/img-servicers-4.svg"
                            alt="Services Image"
                            class="thumb"
                        />
                    </a>
                    <h3 class="title">
                        <a class="link" href="#!">Family Law</a>
                    </h3>
                </article>
            </div>
            <!-- Service 5 -->
            <div class="col">
                <article class="service-item">
                    <a href="#!" class="thumb-wrapper">
                        <img
                            src="/assets/images/img-servicers-5.svg"
                            alt="Services Image"
                            class="thumb"
                        />
                    </a>
                    <h3 class="title">
                        <a class="link" href="#!">Divorce Law</a>
                    </h3>
                </article>
            </div>
            <!-- Service 6 -->
            <div class="col">
                <article class="service-item">
                    <a href="#!" class="thumb-wrapper">
                        <img
                            src="/assets/images/img-servicers-6.svg"
                            alt="Services Image"
                            class="thumb"
                        />
                    </a>
                    <h3 class="title">
                        <a class="link" href="#!">Property Law</a>
                    </h3>
                </article>
            </div>
        </div>
        <a
            href="./practice.html"
            class="primary-btn services-btn practice-btn-none"
            >View All</a
        >
    </div>
</section>
