<section class="teams">
    <div class="container">
        <p class="sub-heading teams-sub-heading">#Teams</p>
        <h2 class="section-heading teams-section-heading">Meet With Lawyers</h2>
        <p class="desc teams-desc">
            Our team of experienced team more than $150 Million in Settlements
            and Judgments for Our Clients
        </p>
        <div class="row row-cols-3 g-3 row-cols-lg-2 row-cols-sm-1">
            <!-- Team 1 -->
            <div class="col">
                <article class="team-item">
                    <div class="thumb-wrapper">
                        <a href="#!"
                            ><img
                                src="/assets/images/img-teams-1.svg"
                                alt="teams Image"
                                class="thumb"
                        /></a>
                        <a class="primary-btn team-item-btn" href="#!"
                            >View Profile</a
                        >
                    </div>
                    <div class="team-item-info">
                        <h4 class="name">David Warner</h4>
                        <p class="position">Attorney at Law</p>
                    </div>
                </article>
            </div>

            <!-- Team 2 -->
            <div class="col">
                <article class="team-item">
                    <div class="thumb-wrapper">
                        <a href="#!"
                            ><img
                                src="/assets/images/img-teams-2.svg"
                                alt="teams Image"
                                class="thumb"
                        /></a>
                        <a class="primary-btn team-item-btn" href="#!"
                            >View Profile</a
                        >
                    </div>
                    <div class="team-item-info">
                        <h4 class="name">Aaron Finch</h4>
                        <p class="position">Founding President</p>
                    </div>
                </article>
            </div>
            <!-- Team 3 -->
            <div class="col">
                <article class="team-item">
                    <div class="thumb-wrapper">
                        <a href="#!"
                            ><img
                                src="/assets/images/img-teams-3.svg"
                                alt="teams Image"
                                class="thumb"
                        /></a>
                        <a class="primary-btn team-item-btn" href="#!"
                            >View Profile</a
                        >
                    </div>
                    <div class="team-item-info">
                        <h4 class="name">Jamie Watts</h4>
                        <p class="position">Partner</p>
                    </div>
                </article>
            </div>
            <!-- Team 4 -->
            <div class="col">
                <article class="team-item">
                    <div class="thumb-wrapper">
                        <a href="#!"
                            ><img
                                src="/assets/images/img-teams-4.svg"
                                alt="teams Image"
                                class="thumb"
                        /></a>
                        <a class="primary-btn team-item-btn" href="#!"
                            >View Profile</a
                        >
                    </div>
                    <div class="team-item-info">
                        <h4 class="name">Ellyse Perry</h4>
                        <p class="position">Associate Attorney</p>
                    </div>
                </article>
            </div>
            <!-- Team 5 -->
            <div class="col">
                <article class="team-item">
                    <div class="thumb-wrapper">
                        <a href="#!"
                            ><img
                                src="/assets/images/img-teams-5.svg"
                                alt="teams Image"
                                class="thumb"
                        /></a>
                        <a class="primary-btn team-item-btn" href="#!"
                            >View Profile</a
                        >
                    </div>
                    <div class="team-item-info">
                        <h4 class="name">Meg Lanning</h4>
                        <p class="position">Senior Partner</p>
                    </div>
                </article>
            </div>
            <!-- Team 6 -->
            <div class="col">
                <article class="team-item">
                    <div class="thumb-wrapper">
                        <a href="#!"
                            ><img
                                src="/assets/images/img-teams-6.svg"
                                alt="teams Image"
                                class="thumb"
                        /></a>
                        <a class="primary-btn team-item-btn" href="#!"
                            >View Profile</a
                        >
                    </div>
                    <div class="team-item-info">
                        <h4 class="name">Peter Siddle</h4>
                        <p class="position">Of Counsel</p>
                    </div>
                </article>
            </div>
        </div>
        <a class="primary-btn teams-btn" href="#!">View All</a>
    </div>
</section>
