<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <div class="about-wrapper">
            <!-- Header -->
            <%- include("./partials/header.ejs") %>
            <main class="main">
                <!-- Start Hero -->
                <section class="about-hero">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="about-hero-inner">
                                    <p
                                        class="sub-heading about-hero-sub-heading"
                                    >
                                        #1 Law Firm in New York
                                    </p>
                                    <h1 class="about-page-heading">
                                        Where The Experience To Guide You
                                    </h1>
                                    <p class="desc about-hero-desc">
                                        A law firm with deep expertise in New
                                        Jersey residential & investment property
                                        transactions and many other things.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Hero -->

                <!-- Start Story -->
                <section class="about-story">
                    <div class="container">
                        <div class="row gy-lg-3">
                            <div class="col-6 col-lg-12">
                                <div class="about-story-content">
                                    <p
                                        class="sub-heading about-story-sub-heading"
                                    >
                                        #Story
                                    </p>
                                    <h2
                                        class="section-heading about-story-heading"
                                    >
                                        Through And Complete Attention to Law
                                    </h2>
                                    <p class="desc about-story-desc">
                                        Your initial meeting with Parmele Law
                                        Firm sets in motion the difficult - and
                                        tedious - process of getting your
                                        benefits for you.
                                    </p>
                                    <p class="desc about-story-desc">
                                        While Mr. Parmele, his paralegals, and
                                        clerks are busy assisting you with your
                                        forms, helping you assemble your
                                        documentation, and keeping you updated
                                        regularly, Mr. Parmele is busy behind
                                        the scenes, focusing on winning your
                                        case.
                                    </p>
                                    <p class="desc about-story-desc">
                                        How your case ends up may well be up to
                                        you.
                                    </p>
                                </div>
                            </div>
                            <div class="col-6 col-lg-12">
                                <div class="about-story-media">
                                    <img
                                        src="/assets/images/img-story-media.svg"
                                        alt="Story Image"
                                        class="about-story-img"
                                    />
                                    <img
                                        src="/assets/images/img-story-decor.svg"
                                        alt=""
                                        class="about-story-decor"
                                    />
                                    <img
                                        src="/assets/images/img-story-mask.svg"
                                        alt=""
                                        class="about-story-mask"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Story -->
                <!-- Start Gallery -->
                <section class="about-gallery">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p
                                    class="sub-heading about-gallery-sub-heading"
                                >
                                    #Gallery
                                </p>
                                <h2
                                    class="section-heading about-gallery-heading"
                                >
                                    Justice Law Firm
                                </h2>
                                <p class="desc about-gallery-desc">
                                    Our Law Office provides a professional
                                    experience for all our clients, helping them
                                    navigate their legal rights.
                                </p>
                            </div>
                            <div class="col-12">
                                <img
                                    src="/assets/images/img-about-gallery.svg"
                                    alt="Gallery Image"
                                    class="about-gallery-img"
                                />
                            </div>
                            <div class="about-gallery-dot-wrapper">
                                <div
                                    class="about-gallery-dot about-gallery-dot-active"
                                ></div>
                                <div class="about-gallery-dot"></div>
                                <div class="about-gallery-dot"></div>
                                <div class="about-gallery-dot"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Gallery -->

                <!-- Start Stats -->
                <section class="about-stats">
                    <div class="container">
                        <div class="about-stats-inner">
                            <div class="about-stats-group">
                                <p class="about-stats-number">
                                    <strong>1782</strong>
                                </p>
                                <p class="about-stats-label">Law Cases</p>
                            </div>
                            <div class="about-stats-group">
                                <p class="about-stats-number">
                                    <strong>10+</strong>
                                </p>
                                <p class="about-stats-label">Lawyer</p>
                            </div>
                            <div class="about-stats-group">
                                <p class="about-stats-number">
                                    <strong>98%</strong>
                                </p>
                                <p class="about-stats-label">Happy Clients</p>
                            </div>
                            <div class="about-stats-group">
                                <p class="about-stats-number">
                                    <strong>90%</strong>
                                </p>
                                <p class="about-stats-label">Winning case</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Stats -->

                <!-- Start Video -->
                <section class="about-video">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p class="sub-heading about-video-sub-heading">
                                    #Video
                                </p>
                                <h2 class="section-heading about-video-heading">
                                    Our History & Mission
                                </h2>
                                <p class="desc about-video-desc">
                                    Our Law Office provides a professional
                                    experience for all our clients, helping them
                                    navigate their legal rights.
                                </p>
                            </div>
                            <div class="col-12">
                                <div
                                    href="#!"
                                    class="about-video-thumb-wrapper"
                                >
                                    <img
                                        src="/assets/images/img-about-video.svg"
                                        alt="Video Image"
                                        class="about-video-img"
                                    />
                                    <a href="" class="about-video-btn"
                                        ><img
                                            src="/assets/images/icon-about-play.svg"
                                            alt="Play Icon"
                                            class="about-video-play-icon"
                                    /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Video -->

                <!-- Teams -->
                <%- include("./partials/teams.ejs") %>
                <!-- Awards -->
                <%- include("./partials/awards.ejs") %>
                <!-- CTA -->
                <%- include("./partials/cta.ejs") %>
            </main>
            <!-- Footer -->
            <%- include("./partials/footer.ejs") %>
        </div>
        <script type="module" src="./main.js"></script>
    </body>
</html>
