<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog</title>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <div class="blog-wrapper">
            <!-- Header -->
            <%- include("./partials/header.ejs") %>
            <main>
                <section class="regular-blog">
                    <div class="container">
                        <div class="row">
                            <h1 class="blog-page-heading">Our Regular Blog</h1>
                            <p class="regular-blog-desc">
                                With our experience we are ready to help you
                                create a modern property with an easy step.
                            </p>
                        </div>
                        <div
                            class="row row-cols-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-1"
                        >
                            <div class="col">
                                <!-- Regular Blog Item 1 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-1.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 2 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-2.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 3 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-3.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 4 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-4.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 5 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-5.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 6 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-6.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 7 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-7.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 8 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-8.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 9 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-9.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 10 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-10.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 11 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-11.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 12 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-12.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 13-->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-13.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 14 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-14.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 15 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-15.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                            <div class="col">
                                <!-- Regular Blog Item 16 -->
                                <article class="regular-blog-item">
                                    <a
                                        href="#!"
                                        class="regular-blog-item-thumb-wrapper"
                                    >
                                        <img
                                            src="assets/images/img-regular-blog-16.png"
                                            alt="Regular Blog Image"
                                            class="regular-blog-item-thumb"
                                        />
                                    </a>
                                    <h2 class="regular-blog-item-title">
                                        Top 20 Effective Digital Marketing Tools
                                        to Help
                                    </h2>
                                    <time
                                        class="regular-blog-item-date"
                                        datetime="2021-07-07"
                                        >July 27, 2021</time
                                    >
                                </article>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a
                                    href="#!"
                                    class="primary-btn regular-blog-btn"
                                    >Load More</a
                                >
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- Footer -->
            <%- include("./partials/footer.ejs") %>
        </div>
        <script type="module" src="./main.js"></script>
    </body>
</html>
