$grid-breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);

// fonts
$roboto-slab-font: "Roboto Slab", serif;
$manrope-font: "Manrope", sans-serif;
$dm-sans-font: "DM Sans", sans-serif;

// color
$yellow-light: #f8ebc9;
$yellow: #fed464;
$green: #017848;
$grey: #586863;
$light-grey: #dbe1e3;
$grayish-light: #beccc7;
$orange: #fd6038;
$white: #fff;
$black: #000;
$dark: #0e1412;

// form-input
$bg-input: #f2f2f2;

// footer
$border-ft: #313d39;
