@use "./reset";
@use "./variables" as *;
@use "./mixins.scss";

// Layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/teams";
@use "./layout/awards";
@use "./layout/cta";
@use "./layout/footer";

// components
@use "./components/logo";
@use "./components/text";
@use "./components/buttons";
@use "./components/forms";

// pages
@use "./pages/home.scss";
@use "./pages/about.scss";
@use "./pages/contact.scss";

// Common

*,
::before,
::after {
    box-sizing: border-box;
}

h1 {
    font-weight: 800;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $manrope-font;
    color: $grey;
    font-size: 1.8rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a,
img,
input,
button,
textarea,
select {
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
}

.container {
    @include mixins.screen(sm) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
